
@{
    ViewBag.Title = "CloseSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Information about close account</h3>

<h4>Account with number @ViewBag.Number was closed success</h4>

<p>
    @Html.ActionLink("Back to List", "GetAll")
</p>
